@font-face {
  font-family: "iconfont"; /* Project id 3492810 */
  src: url('iconfont.woff2?t=1656578439836') format('woff2'),
       url('iconfont.woff?t=1656578439836') format('woff'),
       url('iconfont.ttf?t=1656578439836') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrowBottom-fill:before {
  content: "\e65d";
}

.icon-arrowLeft:before {
  content: "\e65e";
}

.icon-arrowRight:before {
  content: "\e65f";
}

.icon-arrowTop:before {
  content: "\e660";
}

